<h1>Lista de Productos en Tiempo Real</h1>
<ul id="productList">
  {{#each products}}
    <li data-id="{{this.id}}">{{this.title}} - ${{this.price}}
      <button class="deleteBtn">Eliminar</button>
    </li>
  {{/each}}
</ul>

<h2>Agregar nuevo producto</h2>
<form id="productForm">
  <input type="text" id="title" placeholder="Título" required />
  <input type="number" id="price" placeholder="Precio" required />
  <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
